*.iml
.gradle
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

# Ignore .idea
/.idea

# But allow code styles and run configurations
!/.idea/codeStyles
!/.idea/runConfigurations
!/.idea/icon.svg
!/.idea/.name
